server:
  port: 8090
  timezone: Asia/Seoul
spring:
  config:
    import: application-secret.yml
  output:
    ansi:
      enabled: ALWAYS
  profiles:
    active: dev
    include: secret
  datasource:
    url: jdbc:mysql://localhost:3306/exam_db?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: root
    password: root123414
    driver-class-name: com.mysql.cj.jdbc.Driver
#  elasticsearch: # 로컬 환경에서 테스트를 위해 임시 주석 처리, 배포 시 주석 처리 제외 필요
#    uris: http://175.45.202.162:9200/  # Elasticsearch 서버 주소
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
  autoconfigure: # 로컬에서 실행할 때는 Redis와 Session 설정을 제외
    exclude:
      - org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration
      - org.springframework.boot.autoconfigure.session.SessionAutoConfiguration
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true
        highlight: true
        use_sql_comments: true
  websocket:
    enabled: true
logging:
  level:
    com.jupiter.wyl: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.blind: TRACE
    org.hibernate.type.extract: TRACE
    org.springframework.transaction.interceptor: TRACE
    org.springframework: DEBUG
custom:
  dev:
    cookieDomain: localhost
    frontUrl: "http://${custom.dev.cookieDomain}:5173"
    backUrl: "http://${custom.dev.cookieDomain}:${server.port}"
  prod:
    cookieDomain: wyl.seoez.site
    frontUrl: "https://www.${custom.prod.cookiedomain}/"
    backUrl: "https://api.${custom.prod.cookiedomain}/"
  site:
    name: "WYL"
    cookieDomain: "${custom.dev.cookieDomain}"
    frontUrl: "${custom.dev.frontUrl}"
    backUrl: "${custom.dev.backUrl}"

spring doc:
  swagger-ui:
    path: /swagger-ui.html
    groups-order: DESC
    operationsSorter: method
    disable-swagger-default-url: true
    display-request-duration: true
  api-docs:
    path: /api-docs
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  paths-to-match:

    - /api/**