server:
  port: 8090
  timezone: Asia/Seoul
spring:
  config:
    import: application-secret.yml
  output:
    ansi:
      enabled: ALWAYS
  profiles:
    active: prod
    include: secret
  elasticsearch:
    uris: http://223.130.160.191:9200  # Elasticsearch 서버 주소
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true
        highlight: true
        use_sql_comments: true
  websocket:
    enabled: true
logging:
  level:
    com.jupiter.wyl: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.blind: TRACE
    org.hibernate.type.extract: TRACE
    org.springframework.transaction.interceptor: TRACE
    org.springframework: DEBUG
custom:
  dev:
    cookieDomain: localhost
    frontUrl: "http://${custom.dev.cookieDomain}:5173"
    backUrl: "http://${custom.dev.cookieDomain}:${server.port}"
  prod:
    cookieDomain: wyl.seoez.site
    frontUrl: "https://www.${custom.prod.cookiedomain}/"
    backUrl: "https://api.${custom.prod.cookiedomain}/"
  site:
    name: "WYL DEV"
    cookieDomain: "${custom.dev.cookieDomain}"
    frontUrl: "${custom.dev.frontUrl}"
    backUrl: "${custom.dev.backUrl}"

spring doc:
  swagger-ui:
    path: /swagger-ui.html
    groups-order: DESC
    operationsSorter: method
    disable-swagger-default-url: true
    display-request-duration: true
  api-docs:
    path: /api-docs
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  paths-to-match:

  - /api/**